<p>
  First name: <strong><%= @employee.firstname %></strong>
</p>
<p>
  Last name: <strong><%= @employee.lastname %></strong>
</p>
<p>
  Phone: <strong><%= @employee.phone %></strong>
</p>
<p>
  Email: <strong><%= @employee.email %></strong>
</p>

<%= link_to 'Back', employees_path %>
